<%= form_for(@game) do |f| %>
  <% if @game.errors.any? %>
    <div class="alert alert-danger">
      <strong><%= pluralize(@game.errors.count, "error") %> prohibited this game from being saved:</strong>

      <ul>
      <% @game.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>
  <div class="form-group">
    <%= f.label :avatar %>
    <%= f.file_field :avatar %>
  </div>
  <div class="form-group">
    <%= f.label :name %>
    <%= f.text_field :name, class: "form-control" %>
  </div>
  <div class="form-group">
    <%= f.label :published %><br>
    <%= f.date_select :published, start_year: 1970, class: "form-control" %>
  </div>
  <div class="form-group">
    <%= f.label :description %>
    <%= f.text_area :description, class: "form-control" %>
  </div>
  <div class="form-group">
    <%= label_tag "Genres" %>
    <ul class="list-unstyled">
      <% @genres.each do |genre| %>
        <li style="margin-bottom: 4px"><%= check_box_tag "genres[#{genre.id}]", genre.id, @game.genres.include?(genre) %> <span class="label label-primary"><%= genre %></span></li>
      <% end %>
    </ul>
  </div>
  <div class="actions">
    <%= f.submit class: "btn btn-info" %>
  </div>
<% end %>
