<ul class="media-list">
  <% reviews.each do |review| %>
  <li class="media">
    <a class="pull-left" href="#">
      <%= image_tag review.user.avatar.url(:thumb), class: "media-object img-rounded" %>
    </a>
    <div class="media-body">
      <h4><label class="label label-info"><%= review.score %></label> <%= link_to review.user, user_path(review.user) %> <small><%= review.created_at.to_formatted_s(:long) %></small></h4>
	    <p>
	    	<%= review.content %>
	    </p>
    </div>
  </li>
  <% end %>
</ul>